.userAlbumsDisplay {
    display: flex;
    flex-wrap: wrap;
    max-width: 87%;
    margin: 0 auto;
}

.uploadAlbumButtonContainer {
    max-width: 87%;
    margin: 20px auto;
}

.uploadAlbumButtonContainer a {
    width: fit-content;
    display: inline-block;
}

#uploadAlbumButton {
    margin-left: 14px;
    width: fit-content;
}
