.singleAlbum {
    background-size: cover;
    width: 18vw;
    height: 18vw;
    max-width: 280px;
    max-height: 280px;
    min-width: 200px;
    min-height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 14px;
    cursor: pointer;
    position: relative;
}

.singleAlbum:hover h5 {
    margin-bottom: 50px;
}

.singleAlbum h4 {
    width: fit-content;
    max-width: 150px;
    overflow-wrap: break-word;
    color: white;
    text-shadow: 0 0 2px #000;
    font-weight: 400;
    font-size: 21px;
    margin: 0 0 0 15px;
}

.singleAlbum h5 {
    width: fit-content;
    max-width: 150px;
    overflow-wrap: break-word;
    color: white;
    text-shadow: 0 0 2px #000;
    font-weight: 400;
    font-size: 13px;
    margin: 0;
    margin: 0 0 15px 15px;
    transition: margin .5s;
}

#noImagesInAlbum {
    background-color: rgb(224, 224, 224);
    background-image: url('https://res.cloudinary.com/dt8q1ngxj/image/upload/v1634234840/soccr/noImage_hhesil.png');
}

.editAlbumButtons {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    width: fit-content;
    margin: 8px;
}

.editAlbumButtons div {
    color: rgba(255, 255, 255, .6);
    margin-right: 5px;
    font-size: 20px;
    transition: all .5s;
}

.singleAlbum:hover .editAlbumButtons div {
    color: rgb(226, 226, 226);
    text-shadow: 0 0 2px #000;
}

#deleteAlbum:hover {
    color: #e0585a;
    font-size: 30px;
}

#editAlbum:hover {
    color:#59a7d8;
    font-size: 30px;
}

.deleteAlbumConfirm {
    background-color: white;
    width: 200px;
    border-radius: 5px;
    z-index: 99;
    position: relative;
}
