body {
    margin: 0;
}

/* This makes the footer stay on the bottom */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    font-family: helvetica,arial,sans-serif;
}

#search-mag {
    width: 50px
}

a {
    text-decoration: none;
}

/* Header code */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.25);
    align-items: center;
}

#mainLink {
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    margin-right: 145px;
    margin-left: 24px;
}

#logoContents {
    display: flex;
    align-items: center;
    position: relative;
}

#soccrLogo {
    font-family: 'Montserrat', sans-serif;;
    color: white;
    font-size: 25px;
    margin-left: 5px;
    position: relative;
    bottom: 2px;
}

#blueCircle {
    background-color: #0063DC
}

#redCircle {
    background-color: #FF0084;
}

.logoCircle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 1px;
}

#searchContainer {
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    height: 33px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    margin-right: 90px;
}

#searchForm {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    margin-left: 10px;
}

#searchButton {
    background: none;
	color: rgba(0, 0, 0, 0.25);
	border: none;
	padding: 0;
	cursor: pointer;
    width: fit-content;
    margin-right: 5px;
}

#searchBar {
    width: 100%;
    border: none;
    background-color: transparent;
}

#searchBar:focus {
    outline: none;
}

#userButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 24px;
}

#loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

#loginButton a {
    font-size: 16px;
    text-align: center;
    display: inline-block;
    color: white;
    font-weight: 450;
    font-family: helvetica,arial,sans-serif;
    text-decoration: none;
}

#signUpButton {
    background-color: white;
    border-radius: 3px;
    padding: 0 10px;
    width: 96px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signUpButton a {
    font-size: 16px;
    text-align: center;
    display: inline-block;
    color: black;
    font-weight: 500;
    font-family: 'Roboto', helvetica,arial,sans-serif;
    text-decoration: none;
}

#signUpButton a:hover {
    color: rgb(161, 161, 161);
    transition: color .25s 0s;
}


/* Main text code */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#mainText {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 640px;
    text-align: center;
}

#findInsp {
    font-size: 56px;
    line-height: 1px;
    font-weight: 400;
}

#startFree {
    background-color: white;
    border-radius: 3px;
    padding: 20px 40px;
    margin-top: 17px;
}


#startFree a {
    color: black;
    font-size: 20px;
    font-family: helvetica,arial,sans-serif;
    font-weight: 900;
}

#startFree a:hover {
    color: rgb(161, 161, 161);
    transition: color .25s 0s;
}

#join {
    font-weight: 400;
}

#pic-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 67px;
}

#pic-info h4 {
    margin: 4px;
    color: white;
    font-family: 'Roboto', helvetica,arial,sans-serif;
    font-size: 13px;
}

.main-image {
    position: absolute;
    bottom: 56px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -5;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Footer code */
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: black;
    height: 56px;
}

footer p {
    color: rgb(182, 182, 182);
    font-family: 'Roboto', helvetica,arial,sans-serif;
    margin-right: 20px;
}

#devLinks {
    display: flex;
    justify-content: flex-end;
}

#devLinks a {
    margin: 0 20px;
}

.footer-icon {
    color: rgb(182, 182, 182);
    font-size: 30px;
}
