body {
    margin: 0;
}

/* This makes the footer stay on the bottom */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    font-family: helvetica,arial,sans-serif;
}

#search-mag {
    width: 50px
}

a {
    text-decoration: none;
}

/* Main text code */
#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#mainText {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 640px;
    text-align: center;
}

#findInsp {
    font-size: 56px;
    line-height: 1px;
    font-weight: 400;
}

#startFree {
    background-color: white;
    border-radius: 3px;
    padding: 20px 40px;
    margin-top: 17px;
}


#startFree {
    color: black;
    font-size: 20px;
    font-family: helvetica,arial,sans-serif;
    font-weight: 900;
}

#startFree:hover {
    color: rgb(161, 161, 161);
    transition: color .25s 0s;
}

#join {
    font-weight: 400;
}

#pic-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 67px;
}

#pic-info h4 {
    margin: 4px;
    color: white;
    font-family: 'Roboto', helvetica,arial,sans-serif;
    font-size: 13px;
}

#pic-info a h4:hover {
    text-decoration: underline;
}

#pic-info h4 a {
    color: white;
    margin-left: 3px;
}

#pic-info h4 a:hover {
    text-decoration: underline;
}

.main-image {
    position: absolute;
    bottom: 56px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -5;
    background-color: rgba(0, 0, 0, 0.8);
}
