.imageExploreContainer {
    height: 35vh;
    flex-grow: 1;
    margin: 2px;
    padding: 0;
    list-style: none;
}

.imagesExplore {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.imageTitle, .imageAuthor {
    color: transparent;
    position: relative;
    top: -40px;
    left: 7px;
    width: fit-content;
    margin: 0;
}

#imageHovered .imageTitle {
    color: white;
    text-shadow: 0 0 2px #000;
    transition: color .3s linear, text-shadow .3s linear;
}

#imageHovered .imageAuthor {
    color: hsla(0,0%,100%,.7);
    text-shadow: 0 0 2px #000;
    font-size: 12px;
    transition: color .3s linear, text-shadow .3s linear;
}
