.imageDisplay {
    background-color: rgb(52, 52, 58);
    /* z-index: -5; */
    padding: 10px 0;
    position: relative;
}

.imageDisplay img {
    max-width: 80vw;
    max-height: 70vh;
    margin: 0 auto;
    display: block;
    z-index: 1;
    cursor: zoom-in;
    border: 1px solid black
}

/* .imageDisplay img:hover {
} */

.imageDisplay .grow {
    transform: scale(1.4);
    cursor: zoom-out;
    position: relative;
    top: 14vh;
}
