.banner {
    width: 100%;
    background-image: url('https://res.cloudinary.com/dt8q1ngxj/image/upload/c_scale,w_1102/v1633737046/soccr/campnou_yod1kh.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
}

.profilePageDetails {
    display: flex;
    position: relative;
    max-width: 85%;
    margin: 20px auto 0 auto;
    align-items: center;
}

.profileDetailIcon {
    width: 160px;
    height: 160px;
    box-shadow: 0 0 5px #898989;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-color: #c9c9c9;
}

#defaultIcon {
    font-size: 140px;
}

#defaultIcon i {
    background-color: white;
    color:black;
    border-radius: 50%;
    width: 135px;
    height: 135px;
}

.userNameAndButton {
    margin-left: 20px;
    position: relative;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.userNameAndButton h1 {
    font-family: 'Roboto', helvetica,arial,sans-serif;
    font-weight: 200;
    margin: 0;
    color: white;
    text-shadow: 0 0 10px #000;
}

.showEditOptions {
    margin-left: 20px;
    width: 39px;
    height: 30px;
    border: 2px solid white;
    border-radius: 3px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .2s linear;
}

.dotHolder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 1px #000;
    margin: 1px;
    transition: background-color .2s linear;
}

.showEditOptions:hover {
    background-color: white;
    transition: all .2s linear;
}

.showEditOptions:hover .dotHolder .dot {
    background-color: black;
    transition: all .2s linear;
}

.changeProfPic {
    background-color: #128FDC;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 3px;
    font-size: 12px;
    width: 125px;
    text-align: center;
}

.changeProfPic:hover {
    background-color: #319bdd;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.updatePicContainer {
    margin-top: 3px;
    position: relative;
}

.profPicInput {
    border-radius: 3px;
    border: 1px solid rgb(197, 197, 197);
    padding: 2px;
}

.profPicInput:focus {
    outline: none;
    border: 1px solid rgb(159, 177, 255);
}

.updatePicButtons {
    position: absolute;
    top: 30px;
}

.updatePicButtons button {
    margin-right: 4px;
}

.updatePicButtons button {
    background-color: #128FDC;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 12px;
    width: fit-content;
    border: none;
}

.updatePicButtons button:hover {
    background-color: #54a7db;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#cancelUpdate {
    background-color: #E2292C;
}

#cancelUpdate:hover {
    background-color: #fa6e71;
    cursor: pointer;
    transition: background-color .25s 0s;
}

.noImages {
    width: 700px;
    margin: 10vh auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.noImages * {
    padding: 0;
    margin: 8px;
}

.noImages a {
    margin: 0;
}

.noImages h3 {
    font-size: 28px;
    font-weight: 300;
}

.noImages h4 {
    font-size: 18px;
    font-weight: 300;
}

.uploadPhotoLink {
    background-color: #128FDC;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    width: fit-content;
    border: none;
}

.uploadPhotoLink:hover {
    background-color: #54a7db;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.navHeaderContainer {
    width: 100%;
    background-color: #F3F5F6;
}

.navHeader {
    border-bottom: 1px solid rgb(192, 192, 192);
    margin-bottom: 20px;
}

.profileNav {
    justify-content: flex-start;
}

.profileNav h3 {
    font-weight: 200;
    border-bottom: 2px solid transparent;
    margin: 0;
    padding: 10px 0;
    margin-right: 20px;
}

.profileNav h3:hover {
    border-bottom: 2px solid #0091DC;
    cursor: pointer;
    transition: border-bottom .25s 0s;
}

#keepUnderline {
    border-bottom: 2px solid #0091DC;
}
