#normalHeader {
    background-color: #212124;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 8vw;
    justify-content: space-between;
}

.leftHeader, .rightHeader {
    display: flex;
    align-items: center;
}

.headerLink a:hover {
    color: rgb(194, 194, 194);
}

#youLink {
    position: relative;
    left: 10px;
}

.normalSearchContainer {
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    height: 33px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    margin-right: 0;
}

.normalSearchBar {
    border: none;
    background-color: transparent;
    padding: 10px 0;
    min-width: 170px;
}

.normalSearchBar:focus {
    outline: none;
}

.searchInputFocus {
    min-width: 25vw;
}

.uploadIcon {
    color: white;
    font-size: 30px;
}

.loggedInButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 24px;
}

.loggedInButtons a div:hover {
    color: rgb(194, 194, 194);
}

.loggedInButtons a {
    margin: 0 20px;
}

#normalSignUp {
    color: white;
    background-color: #128fdc;
}

#normalSignUp:hover {
    color: rgb(212, 212, 212);
    background-color: #006dac;
    transition: color .25s 0s;
    transition: background-color .25s 0s;
}
