#signUpHeader {
    background-color: #212124;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 100px;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.circleContainer {
    display: flex;
}

#formContainer {
    width: 302px;
    padding: 24px;
    margin: 30px auto;
    background-color: white;
    border-radius: 8px;
    justify-content: space-between;
    box-shadow: 0 0 5px #898989;
}

.formLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forSoccr {
    font-family: helvetica,arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}

.loginError {
    color: #e2292b;
    font-family: helvetica,arial,sans-serif;
    font-size: 12px;
}

#signUpForm {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.formField {
    width: 302px;
    height: 54px;
    border: 1px solid #898989;
    border-radius: 5px;
    margin: 5px 0;
}

.formInput {
    width: 280px;
    height: 54px;
    border: transparent;
    background-color: transparent;
    position: relative;
    bottom: 20px;
    padding-left: 19px;
    font-size: 17px;
    font-weight: 200;
    font-family: helvetica,arial,sans-serif;
}

.formInput:focus {
    outline: none;
    bottom: 10px;
}

.formInputDone {
    bottom: 10px;
}

.formLabel {
    position: relative;
    left: 20px;
    top: 20px;
    font-family: helvetica,arial,sans-serif;
    color: #898989;
    transition: all .2s ease-in-out;
}

.formLabelFocus {
    color: rgb(78, 142, 236);
    font-size: 11px;
    top: 8px;
    transition: all .2s ease-in-out;
}

.formLabelDone {
    color: #898989;
    font-size: 11px;
    top: 8px;
    transition: all ease-in-out;
}

.formButton {
    width: 302px;
    height: 24px;
    padding: 8px 0;
    font-family: helvetica,arial,sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: #128FDC;
    color: white;
    border: none;
    border-radius: 5px;
    box-sizing: content-box;
    margin-top: 25px;
}

.formButton:hover {
    background-color: #319bdd;
    cursor: pointer;
}

.already {
    border-top: 1px solid #dadada;
    padding-top: 15px;
    margin: 10px auto 0 auto;
    font-family: helvetica,arial,sans-serif;
    font-size: 13px;
    text-align: center;
}

#loginHere {
    text-decoration: none;
    color: #006dac;
}

#signUpImage {
    background-image: url("https://res.cloudinary.com/dt8q1ngxj/image/upload/v1633734944/soccr/balls_jit37z.jpg");
    bottom: 0;
}
