.topRowComment {
    display: flex;
    justify-content: space-between;
}

.editCommentButtons {
    display: flex;
}

.editCommentButtons div {
    margin-left: 5px;
    cursor: pointer;
    color: rgb(173, 173, 173);
    visibility:hidden;
}

.editCommentButtons div:hover {
    color: rgb(214, 214, 214);
    transition: all .2s ease-in-out;
}

#editCommentIcon {
    visibility: visible;
}

#stopHover:hover {
    background-color: white;
}

#stopHover #editCommentIcon {
    visibility: hidden;
}

#editCommentTextArea {
    margin-left: 30px;
}

#doneEditCommentButton {
    position: static;
    margin: 5px 0 0 383px;
    box-sizing: border-box;
    width: 93px;
}

.deleteButtons {
    position: relative;
    left: 264px;
}

.deleteButtons button {
    font-family: helvetica,arial,sans-serif;
    font-weight: 600;
    font-size: 13px;
    font-weight: 400;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
}

#deleteComment {
    background-color: #E2292C;
}

#deleteComment:hover {
    background-color: #fa6e71;
    cursor: pointer;
    transition: background-color .25s 0s;
}

#cancelComment {
    background-color: #128FDC;
}

#cancelComment:hover {
    background-color: #319bdd;
    cursor: pointer;
    transition: background-color .25s 0s;
}

.commentError {
    position: relative;
    top: -40px;
    font-size: 12px;
    list-style-type:none;
    width: fit-content;
}
