.topRowComment {
    display: flex;
    justify-content: space-between;
}

.editCommentButtons {
    display: flex;
}

.editCommentButtons div {
    margin-left: 5px;
    cursor: pointer;
    color: rgb(173, 173, 173);
    visibility:hidden;
}

.editCommentButtons div:hover {
    color: rgb(214, 214, 214);
    transition: all .2s ease-in-out;
}

#editCommentIcon {
    visibility: visible;
}

#stopHover:hover {
    background-color: white;
}

#stopHover #editCommentIcon {
    visibility: hidden;
}

#editCommentTextArea {
    margin-left: 30px;
}

#doneEditCommentButton {
    position: static;
    margin: 5px 0 0 383px;
    box-sizing: border-box;
    width: 93px;
}

.editModalBackground {
    z-index: 6;
    position: absolute;
    box-sizing: border-box;
    width: 90vw;
    height: 400px;
    top: -80px;
    left: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
