#profButtonDiv {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

#profButtonDiv:hover {
    color:rgb(194, 194, 194);
}

#profileButton {
    position: static;
}

.profile-dropdown {
    position: absolute;
    background-color: white;
    box-shadow: 0 0 5px #898989;
    border-radius: 3px;
    top: 54px;
    right: 9vw;
    width: 200px;
    font-family: helvetica,arial,sans-serif;
    padding: 10px;
}

#triangle {
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    background-color: white;
    border-top: .5px solid #dddddd;
    border-left: .5px solid #dddddd;
    position: absolute;
    top: -8px;
    left: 175px;

}

#helloUser {
    padding-bottom: 5px;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

#language {
    color:#b3b3b3;
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid rgb(201, 201, 201);
}

#logOutButton {
    padding: 5px;
    margin-top: 5px;

    font-size: 13px;
}

#logOutButton:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}
