#mainHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.25);
    align-items: center;
}

.mainLink {
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    margin-left: 24px;
}

#mainLogo {
    margin-right: 145px;
}

#logoContents {
    display: flex;
    align-items: center;
    position: relative;
}

#soccrLogo {
    font-family: 'Montserrat', sans-serif;;
    color: white;
    font-size: 25px;
    margin-left: 5px;
    position: relative;
    bottom: 2px;
}

#blueCircle {
    background-color: #0063DC
}

#redCircle {
    background-color: #FF0084;
}

.logoCircle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 1px;
}

#searchContainer {
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    height: 33px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    margin-right: 90px;
}

#searchForm {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    margin-left: 10px;
}

#searchButton {
    background: none;
	color: rgba(0, 0, 0, 0.25);
	border: none;
	padding: 0;
	cursor: pointer;
    width: fit-content;
    margin-right: 5px;
}

#searchBar {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 10px 0;
}

#searchBar:focus {
    outline: none;
}

#userButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 24px;
}

.headerLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.headerLink a {
    font-size: 16px;
    text-align: center;
    display: inline-block;
    color: white;
    font-weight: 450;
    font-family: helvetica,arial,sans-serif;
    text-decoration: none;
}

.signUpButton {
    background-color: white;
    border-radius: 3px;
    width: 96px;
    height: 32px;
    font-size: 16px;
    display: inline-block;
    color: black;
    font-weight: 500;
    font-family: 'Roboto', helvetica,arial,sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpButton:hover {
    color: rgb(161, 161, 161);
    transition: color .25s 0s;
}
